n8n-workflows/workflow-informe-diario.json
{
  "name": "Workflow 3 - Informe Diario Programado",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * *"
            }
          ]
        }
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000001",
      "name": "Schedule: 9:00 diario",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:8000/tareas",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "completada",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000002",
      "name": "GET /tareas pendientes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const tareas = $input.all().map(i => i.json);\nconst porPrioridad = tareas.reduce((acc, t) => {\n  acc[t.prioridad] = (acc[t.prioridad] || 0) + 1;\n  return acc;\n}, {});\nreturn [{ json: { total: tareas.length, porPrioridad } }];"
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000003",
      "name": "Code: agrupar por prioridad",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/chat",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ mensaje: \"Genera un informe diario ejecutivo en 3 párrafos. Tareas pendientes: \" + $json.total + \". Por prioridad: \" + JSON.stringify($json.porPrioridad) + \". Incluye una recomendación de acción.\" }) }}",
        "options": {}
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000004",
      "name": "POST /api/chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst stats = $('Code: agrupar por prioridad').item.json;\nconst entrada = {\n  fecha: new Date().toISOString(),\n  informe: $json.respuesta,\n  stats: stats\n};\nfs.appendFileSync('informes.jsonl', JSON.stringify(entrada) + '\\n');\nreturn [{ json: { guardado: true, fecha: entrada.fecha } }];"
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000005",
      "name": "Code: guardar en archivo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule: 9:00 diario": {
      "main": [
        [
          {
            "node": "GET /tareas pendientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET /tareas pendientes": {
      "main": [
        [
          {
            "node": "Code: agrupar por prioridad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: agrupar por prioridad": {
      "main": [
        [
          {
            "node": "POST /api/chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/chat": {
      "main": [
        [
          {
            "node": "Code: guardar en archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c1b2c3d4-workflow-003-informe-diario",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "lab-ironhack"
  },
  "id": "workflow-informe-diario",
  "tags": []
}
