n8n-workflows/workflow-tarea-urgente.json
{
  "name": "Workflow 1 - Tarea Urgente con IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "evento-tarea",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "evento-tarea"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.tarea.prioridad }}",
              "operation": "equal",
              "value2": "alta"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "IF: prioridad alta",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/chat",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ mensaje: \"Da un consejo breve para gestionar esta tarea urgente: '\" + $json.tarea.titulo + \"'\" }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "POST /api/chat",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-urgente-true",
              "name": "urgente",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "assign-consejo",
              "name": "consejo",
              "value": "={{ $json.respuesta }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Set: urgente=true",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 160]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-urgente-false",
              "name": "urgente",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "assign-consejo-null",
              "name": "consejo",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Set: urgente=false",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 440]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "assign-timestamp",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Set: timestamp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, urgente: $json.urgente, consejo: $json.consejo || null }) }}",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, 300]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "IF: prioridad alta", "type": "main", "index": 0 }]
      ]
    },
    "IF: prioridad alta": {
      "main": [
        [{ "node": "POST /api/chat", "type": "main", "index": 0 }],
        [{ "node": "Set: urgente=false", "type": "main", "index": 0 }]
      ]
    },
    "POST /api/chat": {
      "main": [
        [{ "node": "Set: urgente=true", "type": "main", "index": 0 }]
      ]
    },
    "Set: urgente=true": {
      "main": [
        [{ "node": "Merge", "type": "main", "index": 0 }]
      ]
    },
    "Set: urgente=false": {
      "main": [
        [{ "node": "Merge", "type": "main", "index": 1 }]
      ]
    },
    "Merge": {
      "main": [
        [{ "node": "Set: timestamp", "type": "main", "index": 0 }]
      ]
    },
    "Set: timestamp": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "a1b2c3d4-workflow-001-v3",
  "meta": { "instanceId": "lab-ironhack" },
  "id": "workflow-tarea-urgente",
  "tags": []
}
